body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: skyblue;
    justify-content: center;
    width: 100%;
    height: 8em;
}



footer{
    display: flex;
    align-items: center;
    background-color: skyblue;
    justify-content: center;
    width: 80%;
    height: 8em;
}

