#middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 171, 171);
    width: 100%;
}


#top-section{
    width: 90%;
}

#top-section>form > ul {
    list-style: none;
    display: flex; 
    align-items:center;
    flex-direction: row;
    justify-content: center;
    border: 20px solid lightgray;
    background-color: lightgray;
}

#main-section{
    width: 90%;

}

#table-render-space{
    background-color: antiquewhite;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

td{
    border: 1px solid black;
    text-align: left;
}

#table-html-space{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 105, 105);
    height: 100%;
    padding: 70px;
}

#table-html-space-background {
    background-color: white;
}